<% set_default("use_storage", false) %>
<% set_default("mux_resources", true) %>
<% set_default("use_fullscreen", false) %>
<% set_default("head_supplements", []) %>
<% set_default("simple_pipe", false) %>

<!doctype html>
<html lang="en">
  <head>
    <%= css_header %>
    <%= js_header %>

    <title><%= title %></title>

    <% if (use_fullscreen) { %>
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
      <meta name="apple-mobile-web-app-capable" content="yes">
      <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <% } %>

    <% if (simple_pipe) { %>
      <script data-id="page-skeleton-instructions">
        function unhide_skeleton() { 
          $(function() {
            $("#<%= id %>").fadeIn();
          });
        }
        bootloader.css(<%= JSON.stringify(_.keys(css_deps)) %>, function() { unhide_skeleton(); });
        bootloader.js(<%= JSON.stringify(_.keys(js_deps)) %>, function() { });
      </script>
    <% } %>

    <% _.each(head_supplements, function(s) { %>
      <%= s %> 
    <% }); %>

  </head>


  <body data-page-id="<%= id %>" id="<%= id %>" <% if (simple_pipe) { %> style="display: none;" <% } %> >

  <div data-bridge-id="bootloader-info">
    <% if (release) { %>
      <script> bootloader.__release = '<%= release %>'; </script>
    <% } %>

    <% if (controller) { %>
      <script> bootloader.__controller_name = '<%= controller %>'; </script>
    <% } %>

    <% if (hash) { %>
      <script> bootloader.__controller_hash = '<%= hash %>'; </script>
    <% } %>

    <% if (use_storage) { %>
      <script> bootloader.__use_storage = true; </script>
    <% } %>

    <script> bootloader.__stream_packages = <%= use_chunked_xhr %>; </script>

    <script> bootloader.__mux_resources = <%= mux_resources %>; </script>
  </div>

  <% if (header) { %>
    <div id="page_header" class="header">
      <%= header %>
    </div>
  <% } %>

  <div id="page_content" class="content">
    <% if (simple_pipe) { %>
      <%= content %>
    <% } %>
  </div>

  <% if (socket_header) { %>
    <div data-bridge-id="socket-header">
      <%= socket_header %>
    </div>
  <% } %>

  <% _.each(js_deps, function(v, dep) { %>
    <%= render_core("helpers/js_link.html.erb", { path: dep } ) %>
  <% }) %>

</body>
</html>
